body{
    padding: 54px 52px;
}

header{
    margin-bottom: 52px;
}

.htmllogo{
    display: inline-block;
    vertical-align: middle;
	margin-right: 60px;
}
a{
    text-decoration: none;
    margin-right: 87px;
    width: 150px;
    height: 34px;

    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    color: #8D81FF;
}

ul{
    list-style-type: none;
}

nav{
    display: inline-block;    
    vertical-align: middle;
}

li{
    display: inline-block;

}

.active{
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #4E6FAE;
}
.box{
    width: 44px;
	height: 44px;
	background-color: #5012D5;
	color: #84FF81;
	font-size: 34px;
	padding: 12px;
	margin-bottom: 18px;

}

h1{
    font-family: 'BPG Nino Mkhedruli';
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #8D81FF;

}

h2{
    font-family: 'BPG Square Banner Caps 2013';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #4E6FAE;
}

.articleimg{
    margin-right: 66px;
    display: inline-block;
    width: 517px;
    height: 350px;
}

.pbox {
	width: 778px;
	display: inline-block;
	vertical-align: top;
}

.articleimg1{
    width: 517px;
    height: 350px;
}



p {
	font-family: 'ALK Sanet';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #4E6FAE;
}


article{
    margin-bottom: 167px;
}

.fblogo{
    margin-right: 41px;
}

.linelogo{
    margin-right: 41px;
}

.section4{
    margin-bottom: 91px;
}

.container1{
    width: 1052px;
	margin: 0 auto;
}

.section1{
    margin-left: 194px;
    font-weight: 700;
    margin-bottom: 26px;
    display: inline-block;
    font-family: 'FiraGO';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #4E6FAE;
}

.sectionimage{
    margin-left: 18px;
    vertical-align: middle;
    height: 30px;
    display: inline-block;
    margin-right: 18px;
}

.section2{
    font-size: 26px;
    line-height: 31px;
    color: #4E6FAE;
    display: inline-block;
}

.newsbox{
    width: 500px;
    height: 192px;
    background: #E7E7E7;
    margin-left: 194px;
    display: inline-block;
    margin-right: 52px;
}


.newsh1{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #3F4145;
    margin-left: 23px;
    margin-top: 21px;
    margin-bottom: 25px;
}

.newsp{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7E8898;
    width: 335px;
    display: inline-block;
    vertical-align: top;
}


.newslogo{
    display: inline-block;
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 10px;
}


.newsbox1{
    width: 500px;
    height: 192px;
    background: #E7E7E7;
    display: inline-block;
    vertical-align: top;
}

.newsh2{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #3F4145;
    margin-left: 23px;
    margin-top: 21px;
    margin-bottom: 21px;
}

.newslogo1{
    display: inline-block;
    margin-left: 37px;
    margin-right: 37px;
}

.newsp1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7E8898;
    width: 333px;
    display: inline-block;
    vertical-align: top;
}

.ft1{
    margin-left: 194px;
}


.contacth1{
    font-weight: 700;
    font-size: 36px;
    color: #4E6FAE;
    margin-left: 162px;
    padding-top: 93px;
}

.contact{
    background-color: #E7E7E7;
    width: 1450px;
    height: 535px;
    margin-bottom: 40px ;
}

.contactbox{
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 455px;
    vertical-align: top;

}

.contactp1{
    color: #7E8898;
    display: inline-block;
    margin-top: 27px;    
    margin-bottom: 23px;
    margin-left: 162px;
}

.contactp2{
    color: #7E8898;
    display: inline-block;  
    margin-bottom: 23px;
    margin-left: 162px;
}

.contactp3{
    color: #7E8898;
    display: inline-block;  
    margin-bottom: 23px;
    margin-left: 162px;

}

.map{
    display: inline-block;
    width: 7px;
    height: 344px;
    margin-top: 90px;
}



.fblogo1{ 
    margin-top: 104px;
    margin-right: 41px;
    margin-left: 96;
   
}

.linelogo1{
    margin-right: 41px;
    margin-left: 96;
}

